article {
    text-align: center;
    width: 50vw;
    margin: auto;
}

section h1 {
    font-weight: bold;
    font-size: 3.5em;
    margin-top: 30px;
}

section h4 {
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 2rem;
}

#imgBichosComercio {
    margin: 2em auto;
}

section:last-child {
    margin-bottom: 100px;
}

@media (max-width: 576px) {
    #imgBichosComercio {
        width: 100%;
    }
    
    article {
        width: 90%;
    }
}